html {
  font-size: 8px !important;
  margin: 0 0;
  padding: 0 0;
}

body {
  font-family: 'Bellefair', serif;
  font-weight: 300;
  background: #fff;
}

ul,
h1,
h2,
h4,
h5,
h6 {
  font-family: 'Bellefair', serif;
  font-weight: normal;
  color:black;

}
h3,
a {
  font-family: 'Bellefair', serif;
  font-weight: normal;

  color: white;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

p, li {
  font-size: 2.3rem;
}

/** 3. Hero
*******************************************************************/

.portrait {
  width: 152px;
  height: 160px;
  border-radius: 100%;
}

/** 4. Hero --> Front Content 
*******************************************************************/

.front-content {
  
  left: 0;
  width: 100%;
  margin: 13vh 0 10vh 0;
  padding: 0;

  text-align: center;
}

.front-content h1 {
  line-height: 1.7em;

  margin: 0;
}

.front-content h1 span {
  line-height: 1.4em;

  display: inline-block;

  padding: 0 4rem;

  color: #fff;
  border-radius: 100px;
  background: #fc8181;
}


/** 5. Portfolio
*******************************************************************/

.portfolio {
  font-size: 0;

  max-width: 1190px;
  margin: 0 auto;
  padding: 0 30px;
}

.portfolio .item {
  position: relative;

  display: inline-block;
  overflow: hidden;

  width: 50%;
  margin: 0;
  padding: 0;

  border: 2.5rem solid #fff;
  background: #111;
}

/** Page --> About
*******************************************************************/

.about {
  margin: 10vh 0 0 0;
  text-align: center;
  display: flex;
  background-color: #fc8181;
  color: white;
}

.title {
  text-align: left;
  color: #fc8181;
}

.about .container-fluid {
  max-width: 900px;
  margin: 0 auto;
  font-size: 3rem;
  margin-top: 2.8em;
}

.about img {
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  line-height: 1.7em;
  color: white;
  margin-bottom: 2.4em;
  text-align: justify;
}

.about .contact {
  font-size: 3rem;
}
.about .contact span {
  font-size: 2rem;

  margin-left: 0.8em;
  padding: 0.5em 1em;

  color: #fc8181;
  border-radius: 100px;
  background: white;
}

.about .container-fluid h4 span {
  font-size: 1rem;

  margin-left: 0.8em;
  padding: 0.5em 1em;

  color: #fff;
  border-radius: 100px;
  background: #fc8181;
}

.about .container-fluid a {
  text-decoration: none;
  color: #fc8181;
}

.about .container-fluid h5 {
  color: white;
}

/** Page --> Navigation
*******************************************************************/

.container-nav{
  background-color: #fc8181ea;
  text-align: center;
}

.container-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}

.container-nav li {
  padding:15px;
  list-style: none;
  color: white;
}

.container-nav a:hover {
  color:black;
  text-decoration:none;
  }


/** Page --> Languages
*******************************************************************/

.languages .container-fluid {
  max-width: 900px;
  margin: 0 auto;
  font-size: 3rem;
  margin-top: 2.8em;
}

.logo {
  width: auto;
  height: 60px;
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;
}

/** Page --> Projets
*******************************************************************/

.projects .container-fluid {
  max-width: 900px;
  margin: 0 auto;
  font-size: 3rem;
  margin-top: 2.8em;
  text-decoration: none;
  
}


.container {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 24px 24px 0;
  text-align: center;
  width: 300px;
  height: 300px;
  
}

.project-language {
  font-style: italic;
  font-weight: bold;
  color: white;
}

.projet1 {
  background-image: url(./assets/Nantes.jpg);
  background-size: 24em;
  margin-left: 0px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
  text-decoration: none;  
}

.projet1:hover{
	margin-left: -50px;
  margin-right: -50px;
}

.projet2 {
  background-image: url(./assets/plantes-conscience.jpeg);
  background-size: 24em;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
  text-decoration: none;
}

.projet2:hover{
	margin-left: -50px;
  margin-right: -50px;
}

.projet3 {
  background-image: url(./assets/hackaton.jpg);
  background-size: 18em;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.projet3:hover{
	margin-left: -50px;
  margin-right: -50px;
}

.projet4 {
  background-image: url(./assets/fabrique.jpg);
  background-size: 17em;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.projet4:hover{
	margin-left: -50px;
  margin-right: -50px;
}

.projet5 {
  background-size: 15em;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.projet5:hover{
	margin-left: -50px;
  margin-right: -50px;
}

.projet5-color {
  color:black;
  font-weight: bold;
}

.projet6 {
  background-size: 17em;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.projet6:hover{
	margin-left: -50px;
  margin-right: -50px;
}

.projet6-color {
  color:black;
}

.no-link {
  color: white;
}

a:link {
  text-decoration: none;
}





/** Page --> Experiences
*******************************************************************/

.experiences .container-fluid {
  max-width: 900px;
  margin: 0 auto;
  font-size: 3rem;
  margin-top: 2.8em;
}


.experience1 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.experience1 {
  margin: 24px 24px 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-align: left
  width: auto;
  height: auto;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
}

.experience2-3-4 {
  display: flex;
  flex-direction: row;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px 24px 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-align: center;
  width: auto;
  height: auto;
  box-shadow: 0 1px 5px 1px rgb(0 0 0 / 30%);
  border-radius: 5px;
}





/** Page --> Formations
*******************************************************************/

.formations {
  background-color: #fc8181;
}

.formations .title {
  color:white;
}

.formations .container-fluid {
  max-width: 900px;
  margin: 0 auto;
  font-size: 3rem;
  margin-top: 2.8em;
}

.formation {
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}



/** Page --> Footer/Contact
*******************************************************************/

.copyright {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icons {
  height: 50px;
  margin-right: 20px;
  margin-top: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.social-icons:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.tel {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

@media (min-width: 688px) {

 
}